//variables
$black: #000;
$white: #fff;
$red: #F61D0C;
$fsize: 15px;
$gray: #4B4B4D;
$green:#64B32C;
$blue:#194396;
$lightblue:#FBFCFF;
$transparent:transparent;

$ffamily: 'Poppins', sans-serif;

// font-family: 'Poppins', sans-serif;
$path--rel:"../img";
//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1700px;
