@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j6xd3g');
  src:  url('../fonts/icomoon.eot?j6xd3g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j6xd3g') format('truetype'),
    url('../fonts/icomoon.woff?j6xd3g') format('woff'),
    url('../fonts/icomoon.svg?j6xd3g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account01:before {
  content: "\e900";
}
.icon-account02:before {
  content: "\e901";
}
.icon-award:before {
  content: "\e902";
}
.icon-badge:before {
  content: "\e903";
}
.icon-banktransfer:before {
  content: "\e904";
}
.icon-borrow01:before {
  content: "\e905";
}
.icon-borrow02:before {
  content: "\e906";
}
.icon-cashlesspayment:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-check02:before {
  content: "\e909";
}
.icon-dashboard:before {
  content: "\e90a";
}
.icon-dashboard2:before {
  content: "\e90b";
}
.icon-deadline:before {
  content: "\e90c";
}
.icon-discount:before {
  content: "\e90d";
}
.icon-document:before {
  content: "\e90e";
}
.icon-documents:before {
  content: "\e90f";
}
.icon-documentupload:before {
  content: "\e910";
}
.icon-download01:before {
  content: "\e911";
}
.icon-download02:before {
  content: "\e912";
}
.icon-duedate:before {
  content: "\e913";
}
.icon-email01:before {
  content: "\e914";
}
.icon-email02:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-facebook2:before {
  content: "\e917";
}
.icon-fasttime:before {
  content: "\e918";
}
.icon-folder:before {
  content: "\e919";
}
.icon-goodrelation:before {
  content: "\e91a";
}
.icon-guaranteer:before {
  content: "\e91b";
}
.icon-guaranteers:before {
  content: "\e91c";
}
.icon-handshake:before {
  content: "\e91d";
}
.icon-interest:before {
  content: "\e91e";
}
.icon-left:before {
  content: "\e91f";
}
.icon-leftarrow:before {
  content: "\e920";
}
.icon-linkedin2:before {
  content: "\e921";
}
.icon-loan:before {
  content: "\e922";
}
.icon-loan3:before {
  content: "\e923";
}
.icon-loan4:before {
  content: "\e924";
}
.icon-loan5:before {
  content: "\e925";
}
.icon-loanproviding:before {
  content: "\e926";
}
.icon-location:before {
  content: "\e927";
}
.icon-location02:before {
  content: "\e928";
}
.icon-location03:before {
  content: "\e929";
}
.icon-lowinterest:before {
  content: "\e92a";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-menu02:before {
  content: "\e92c";
}
.icon-mobile:before {
  content: "\e92d";
}
.icon-money:before {
  content: "\e92e";
}
.icon-moneytransfer:before {
  content: "\e92f";
}
.icon-navbar:before {
  content: "\e930";
}
.icon-nocharges:before {
  content: "\e931";
}
.icon-onlinedocument:before {
  content: "\e932";
}
.icon-onlinedocument2:before {
  content: "\e933";
}
.icon-onlinefile:before {
  content: "\e934";
}
.icon-onlinefile2:before {
  content: "\e935";
}
.icon-process:before {
  content: "\e936";
}
.icon-process2:before {
  content: "\e937";
}
.icon-register:before {
  content: "\e938";
}
.icon-reward:before {
  content: "\e939";
}
.icon-right:before {
  content: "\e93a";
}
.icon-right2:before {
  content: "\e93b";
}
.icon-rightarrow:before {
  content: "\e93c";
}
.icon-safecreditcard:before {
  content: "\e93d";
}
.icon-securement:before {
  content: "\e93e";
}
.icon-securepayment:before {
  content: "\e93f";
}
.icon-securepayment02:before {
  content: "\e940";
}
.icon-settingsuser:before {
  content: "\e941";
}
.icon-stamp:before {
  content: "\e942";
}
.icon-submit:before {
  content: "\e943";
}
.icon-success:before {
  content: "\e944";
}
.icon-support:before {
  content: "\e945";
}
.icon-team:before {
  content: "\e946";
}
.icon-telephone:before {
  content: "\e947";
}
.icon-telephone2:before {
  content: "\e948";
}
.icon-transfermoney:before {
  content: "\e949";
}
.icon-trophy:before {
  content: "\e94a";
}
.icon-twitter2:before {
  content: "\e94b";
}
.icon-up:before {
  content: "\e94c";
}
.icon-up2:before {
  content: "\e94d";
}
.icon-uparrow:before {
  content: "\e94e";
}
.icon-upload:before {
  content: "\e94f";
}
.icon-uploaddocuments:before {
  content: "\e950";
}
.icon-uploadfile:before {
  content: "\e951";
}
.icon-user:before {
  content: "\e952";
}
.icon-userregistration:before {
  content: "\e953";
}
.icon-verification:before {
  content: "\e954";
}
.icon-verification2:before {
  content: "\e955";
}
.icon-verify:before {
  content: "\e956";
}
.icon-wallet:before {
  content: "\e957";
}
