@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  color: #000;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.h1, .homeSlider .ms-slide .msp-cn-160-66, .homeSlider .ms-slide .msp-cn-160-3, .subpageMain .subpageHeader article h1 {
  font-size: clamp(1.6rem, 2.6rem, 2.6vw);
}

.h2, .sectionTitle {
  font-size: clamp(1.4rem, 2rem, 2vw);
}

.h4 {
  font-size: clamp(1.2rem, 1.6rem, 1.6vw);
}

.h5 {
  font-size: clamp(1rem, 1.3rem, 1.3vw);
  line-height: 30px;
}

.h6, .subpageMain .subpageHeader article h6 {
  font-size: clamp(1rem, 1.1rem, 1.1vw);
  line-height: 25px;
}

.fslight {
  font-weight: 200;
}

.flight {
  font-weight: 300;
}

.fsbold, .btn, .bluebtn, header .bsnav .applybtn, .homeSlider .ms-slide .ms-btn, .aboutSection .aboutBtn, .subpageMain .bannercontent a, .subpageMain .fullContent .rtContent a, .Customtabs .nav .nav-link.active, .contactForm button, .applypage .applyloan button, .signCol button, .leftNav .userBase a, .btnCustom, .whitebtn, header .bsnav .applybtn:hover, .homeSlider .ms-slide .ms-btn:hover, .aboutSection .aboutBtn:hover, .subpageMain .bannercontent a:hover, .subpageMain .fullContent .rtContent a:hover, .Customtabs .nav .nav-link, .contactForm button:hover, .applypage .applyloan button:hover, .signCol button:hover, .leftNav .userBase a:hover, .btnCustom:hover {
  font-weight: 600;
}

.fbold, .sectionTitle, .homeSlider .ms-slide .ms-layer h6, .homeSlider .ms-slide .msp-cn-160-66, .homeSlider .ms-slide .msp-cn-160-3, .homeProcess .instantcol .instantCircle .number, .homeProcess .instantcol article .h5, .subpageMain .subpageHeader article h1 {
  font-weight: 700;
}

.fblue {
  color: #194396;
}

.fgreen {
  color: #64B32C !important;
}

.btn, .bluebtn, header .bsnav .applybtn, .homeSlider .ms-slide .ms-btn, .aboutSection .aboutBtn, .subpageMain .bannercontent a, .subpageMain .fullContent .rtContent a, .Customtabs .nav .nav-link.active, .contactForm button, .applypage .applyloan button, .signCol button, .leftNav .userBase a, .btnCustom, .whitebtn, header .bsnav .applybtn:hover, .homeSlider .ms-slide .ms-btn:hover, .aboutSection .aboutBtn:hover, .subpageMain .bannercontent a:hover, .subpageMain .fullContent .rtContent a:hover, .Customtabs .nav .nav-link, .contactForm button:hover, .applypage .applyloan button:hover, .signCol button:hover, .leftNav .userBase a:hover, .btnCustom:hover {
  padding: 8px 30px !important;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block !important;
  font-size: 15px -1;
  border: 1px solid transparent;
  min-height: 42px;
  max-height: 42px;
}

.bluebtn, header .bsnav .applybtn, .homeSlider .ms-slide .ms-btn, .aboutSection .aboutBtn, .subpageMain .bannercontent a, .subpageMain .fullContent .rtContent a, .Customtabs .nav .nav-link.active, .contactForm button, .applypage .applyloan button, .signCol button, .leftNav .userBase a, .btnCustom {
  background: #194396;
  color: #fff;
}

.whitebtn, header .bsnav .applybtn:hover, .homeSlider .ms-slide .ms-btn:hover, .aboutSection .aboutBtn:hover, .subpageMain .bannercontent a:hover, .subpageMain .fullContent .rtContent a:hover, .Customtabs .nav .nav-link, .contactForm button:hover, .applypage .applyloan button:hover, .signCol button:hover, .leftNav .userBase a:hover, .btnCustom:hover {
  background: white;
  color: #194396;
  border: 1px solid #194396;
}

.containerCustom {
  width: 95%;
  margin: 0 auto;
}

.imgShadow, .subpageMain .leaderImg {
  padding: 5px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-box-shadow: 0 3px 2px #b3b3b3;
          box-shadow: 0 3px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
}

.fixed-theme {
  background: white;
  padding: 0;
  -webkit-box-shadow: 0 3px 2px #b3b3b3;
          box-shadow: 0 3px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
}

@media (max-width: 1200px) {
  .fixed-theme {
    padding: 10px;
  }
}

.fixed-theme .bsnav .navbar-brand {
  margin-right: 10px;
}

.fixed-theme .bsnav .navbar-brand img {
  width: 200px;
}

.sectionTitle {
  letter-spacing: -2px;
  position: relative;
}

.sectionTitle:before {
  content: '';
  width: 70px;
  height: 4px;
  background: #194396;
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -35px;
}

.listItems li {
  position: relative;
  margin-bottom: 12px;
}

.listItems li:before {
  content: "\e909";
  width: 18px;
  height: 18px;
  background: #194396;
  color: #fff;
  font-family: 'icomoon' !important;
  font-size: 13px;
  margin-right: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
}

header {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 0;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

header .bsnav {
  background: none;
}

header .bsnav .navbar-brand {
  margin-right: 25px;
}

header .bsnav .navbar-brand img {
  width: 250px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

@media (min-width: 768px) and (max-width: 992px) {
  header .bsnav .navbar-brand img {
    width: 200px;
  }
}

header .bsnav .nav-item .active {
  display: block;
  padding: 20px 15px;
  text-transform: uppercase;
  color: #64B32C;
}

header .bsnav .nav-item .nav-link {
  padding: 20px 10px;
  text-transform: uppercase;
}

header .bsnav .applybtn {
  margin-top: 10px;
}

header .bsnav .applybtn:hover {
  color: #194396 !important;
}

header .navbar-toggler.active, header .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 992px) {
  header .bsnav-mobile .nav-item .active {
    background: #194396;
    color: #fff;
    display: block;
    padding: 5px 0 5px 10px;
  }
}

.profileNav {
  margin: 25px 0;
  position: relative;
  height: 94%;
}

.profileNav .userProfilePic {
  width: 150px;
  height: 150px;
  background: #e6edfb;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profileNav .userProfilePic .icomoon {
  font-size: 75px;
  color: #194396;
}

.profileNav .userNav {
  margin-top: 25px;
}

.profileNav .userNav li {
  margin-bottom: 10px;
}

.profileNav .userNav li a {
  color: #000;
  padding: 10px 15px;
  display: block;
  background: #e6edfb;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.profileNav .userNav li a:hover {
  background: #194396;
  color: #fff;
}

.profileNav .contactHeader {
  bottom: 0;
}

.profileNav .contactHeader p {
  font-size: 14px;
}

.profileNav .contactHeader p .icomoon {
  color: #194396;
  font-size: 18px;
}

.gradientbg, .homeSlider .ms-slide:before, .subpageMain .subpageHeader:before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.homeSlider {
  width: 100%;
}

.homeSlider .ms-slide .ms-layer {
  padding: 0;
}

.homeSlider .ms-slide .ms-layer h6 {
  color: #194396;
}

.homeSlider .ms-slide .msp-cn-160-66, .homeSlider .ms-slide .msp-cn-160-3 {
  color: #000;
}

@media (max-width: 768px) {
  .homeSlider .ms-slide .msp-cn-160-66, .homeSlider .ms-slide .msp-cn-160-3 {
    font-size: 12px !important;
    margin-top: 10px;
  }
}

.homeSlider .ms-slide .ms-btn {
  height: 42px;
  display: none !important;
}

.homeSlider .ms-bullets.ms-dir-v {
  opacity: 1 !important;
  right: -15% !important;
}

@media (max-width: 1700px) {
  .homeSlider .ms-bullets.ms-dir-v {
    right: 0 !important;
  }
}

@media (max-width: 768px) {
  .homeSlider .ms-layer-mask {
    overflow: visible;
  }
}

.homeProcess {
  background: #FBFCFF;
}

.homeProcess .instantrow:before {
  content: '';
  width: 70%;
  height: 4px;
  background: #194396;
  position: absolute;
  top: 25%;
  left: 50%;
  right: 0;
  margin-left: -35%;
}

@media (max-width: 992px) {
  .homeProcess .instantrow:before {
    display: none;
  }
}

.homeProcess .instantcol .instantCircle {
  background: #fff;
  width: 127px;
  height: 127px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0 3px 2px #b3b3b3;
          box-shadow: 0 3px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  border-radius: 50%;
}

.homeProcess .instantcol .instantCircle .icomoon {
  font-size: 60px;
}

.homeProcess .instantcol .instantCircle .number {
  background: #194396;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -15px;
  width: 32px;
  height: 32px;
  border-radius: 25px;
  line-height: 32px;
}

.whyChooseUs {
  background-image: url("../img/dotsbg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: transparent;
}

.whyChooseUs .whyListItems {
  padding-top: 50px;
}

.whyChooseUs .whyListItems .whyListItem {
  width: 100%;
  border: 1px solid #194396;
  max-height: 136px;
  padding: 5px;
  border-top-left-radius: 85px;
  border-top-right-radius: 85px;
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
  margin-bottom: 15px;
}

.whyChooseUs .whyListItems .whyListItem .iconDiv {
  min-width: 75px;
  width: 75px;
  height: 75px;
  background: #d0ddf7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whyChooseUs .whyListItems .whyListItem .iconDiv .icomoon {
  font-size: 40px;
  color: #194396;
}

.aboutSection {
  background: #FBFCFF;
}

.aboutSection .aboutHomeImg {
  position: relative;
  padding: 15px;
  margin-top: 15px;
}

.aboutSection .aboutHomeImg:before {
  content: '';
  width: 358px;
  height: 358px;
  background: #194396;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 0;
}

.aboutSection .aboutHomeImg img {
  position: relative;
}

.aboutSection .sectionTitle:before {
  left: 0;
  margin-left: 0;
}

.aboutSection .aboutBtn {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

footer {
  margin-top: 50px;
}

footer .leftFooterCol {
  background: #fff;
  position: relative;
}

footer .topFooter {
  background: #194396;
  position: relative;
}

@media (min-width: 576px) and (max-width: 992px) {
  footer .topFooter {
    padding-top: 25px;
  }
}

footer .topFooter:before {
  content: '';
  background: #fff;
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 992px) {
  footer .topFooter:before {
    background: none;
  }
}

footer .topFooter .footerBrand img {
  width: 279px;
}

footer .topFooter .rtFootrecol {
  color: #fff;
}

footer .topFooter .rtFootrecol .h5 {
  color: #fff;
}

footer .topFooter .rtFootrecol ul.footerLink li {
  padding-bottom: 10px;
}

footer .topFooter .rtFootrecol ul.footerLink li a.nav-link {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 0;
}

footer .topFooter .rtFootrecol ul.footerLink li a.nav-link:hover {
  color: #bacef4;
}

footer .topFooter .rtFootrecol ul.footerLink li .active {
  color: #bacef4;
  padding: 5px 0;
  display: block;
}

footer .bottomFooter {
  background: #e6edfb;
  padding: 15px 0;
}

footer .moveTop {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  display: none;
  background: #194396;
}

footer .moveTop:hover {
  border-radius: 50%;
}

footer .moveTop .icomoon {
  color: #fff;
}

footer .footerabout a {
  color: #64B32C;
}

.footerSocial a {
  width: 40px;
  height: 40px;
  background: #194396;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  line-height: 42px;
}

.footerSocial a .icomoon {
  font-size: 20px;
  color: #fff;
}

.footerSocial a:hover {
  background: #fff;
  border: 1px solid #194396;
}

.footerSocial a:hover .icomoon {
  color: #194396;
}

.subpageMain {
  min-height: 500px;
}

.subpageMain .subpageHeader {
  background-image: url("../img/subpageheaderbg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  min-height: 285px;
  padding-top: 150px;
  position: relative;
}

@media (max-width: 992px) {
  .subpageMain .subpageHeader {
    padding-top: 85px;
    min-height: 175px;
  }
}

.subpageMain .subpageHeader article {
  position: relative;
  z-index: 10;
}

.subpageMain .subpageHeader article h1 {
  letter-spacing: -2px;
}

.subpageMain .subpageHeader article h6 {
  color: #64B32C;
}

.subpageMain .subpageBody {
  min-height: 500px;
}

.subpageMain .subpageBody .breadcrumb {
  padding: 10px 0 25px 0;
}

.subpageMain .subpageBody .breadcrumb li a {
  color: #000;
}

.subpageMain .subpageBody .breadcrumb li:before {
  content: "\e93a";
  font-family: 'icomoon' !important;
  font-size: 10px;
  position: relative;
  top: 2px;
}

.subpageMain .subpageBody .breadcrumb li:first-child:before {
  content: '';
}

.subpageMain .subpageBody .breadcrumb .active {
  color: #64B32C;
}

.subpageMain .subpageBody p {
  font-size: 15px;
  color: #1a1a1a;
}

.subpageMain .leaderImg {
  width: 247px;
  height: 247px;
}

.subpageMain .bannercontent a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.subpageMain .bannercontent .container {
  background: #fff;
  -webkit-box-shadow: 0 3px 2px #b3b3b3;
          box-shadow: 0 3px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  padding: 50px 0;
  margin-top: -100px;
  position: relative;
}

@media (max-width: 992px) {
  .subpageMain .bannercontent .container {
    margin-top: 0;
    padding: 20px;
  }
}

.subpageMain .colCard .iconDiv {
  background: #fff;
  width: 127px;
  height: 127px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 2px #b3b3b3;
          box-shadow: 0 3px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subpageMain .colCard .iconDiv .icomoon {
  font-size: 60px;
  color: #194396;
}

.subpageMain .fullContent .rtContent {
  background: #FBFCFF;
}

.subpageMain .fullContent .rtContent a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.Customtabs .nav .nav-link {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .Customtabs .nav .nav-link {
    padding: 8px 10px !important;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

@media (max-width: 992px) {
  .Customtabs .nav .nav-link.active {
    padding: 8px 10px !important;
    font-size: 12px;
  }
}

.Customtabs .nav-tabs {
  border: none;
}

.Customtabs .tab-content {
  padding: 25px 0;
}

.contactForm .form-floating .form-control {
  background: #d0ddf7;
  border: none;
  border-radius: 10px;
}

.contactForm button {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.applypage {
  padding-top: 150px;
}

@media (max-width: 992px) {
  .applypage {
    padding-top: 70px;
  }
}

.applypage .applyloan {
  background: #e6edfb;
  padding: 50px 25px;
  min-height: 150px;
  -webkit-box-shadow: 0 3px 2px #b3b3b3;
          box-shadow: 0 3px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
}

.applypage .applyloan button {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.signCol {
  width: 70%;
  margin: 0 auto;
}

.signCol button {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.signCol .loginwithGoo {
  color: #000;
  text-align: center;
}

.profileSubPage {
  background-image: url("../img/profiletopbg.jpg");
  background-repeat: repeat-x;
  background-position: top 0;
  background-color: transparent;
  padding-top: 170px;
}

@media (max-width: 992px) {
  .profileSubPage {
    padding-top: 80px;
  }
}

.profileSubPage .shadowBox {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 2px #b3b3b3;
          box-shadow: 0 3px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  min-height: 700px;
}

@media (max-width: 992px) {
  .profileSubPage .shadowBox {
    min-height: 0;
  }
}

@media (max-width: 992px) {
  .leftNav {
    margin-bottom: 20px;
  }
}

.leftNav .userBase article p {
  word-break: break-all;
}

.leftNav .userBase .userPic {
  width: 85px;
  margin-right: 15px;
}

.leftNav .userBase a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.leftNav .navbar-nav .nav-link {
  padding: 8px 25px 12px 25px;
  display: block;
}

.leftNav .navbar-nav .nav-link:hover {
  color: #194396;
}

.leftNav .navbar-nav .nav-link .icomoon {
  margin-right: 15px;
  font-size: 30px;
  position: relative;
  top: 5px;
}

.leftNav .navbar-nav .active {
  background: #64B32C;
  color: #fff;
  padding: 8px 25px 12px 25px;
  display: block;
}

.leftNav .navbar-nav .active .icomoon {
  margin-right: 15px;
  font-size: 30px;
  position: relative;
  top: 5px;
}

.btnCustom {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.opacitytext {
  color: gray;
}

.dbcol {
  background: #fff;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0 3px 2px #b3b3b3;
          box-shadow: 0 3px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 2px #b3b3b3;
  border-top: 3px solid #64B32C;
  margin-bottom: 25px;
}

.dbcol a {
  color: #000;
}

.dbcol a .icomoon {
  font-size: 45px;
}

.loanItemCard {
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  border: 1px solid #b3b3b3;
}

.pillItem {
  padding: 12px 0;
}

.pillItem .seperator {
  display: inline-block;
  padding: 0 25px;
}

.pillItem span:nth-child(1) {
  width: 45%;
}

.pillItem span:nth-child(2) {
  width: 5%;
}

.pillItem span:nth-child(3) {
  width: 45%;
}

.barPayment .barin {
  background: #d1efbc;
  width: 100%;
  height: 15px;
}

.barPayment .barin .barinn {
  background: #64B32C;
  height: 15px;
}

.downloadItem {
  background: #e6edfb;
  padding-left: 20px;
  margin-bottom: 25px;
}

.downloadItem .downIcon {
  background: #64B32C;
  display: inline-block;
  padding: 12px;
}

.downloadItem .downIcon:hover {
  background: #194396;
}

.downloadItem .downIcon .icomoon {
  font-size: 30px;
  color: #fff;
}

.downloadItem .titlename {
  position: relative;
  top: -5px;
}

.repaySelect .form-select {
  width: 250px;
}

.customTable {
  margin-top: 25px;
}

.customTable .table th, .customTable .table td {
  padding: 15px;
}

.customTable .table thead th {
  background: #194396;
  color: #fff;
}

.faqcontainer .listItems {
  margin-left: 25px;
}

.productCard {
  -webkit-box-shadow: 0 3px 6px #b3b3b3;
          box-shadow: 0 3px 6px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 3px 6px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 3px 6px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 3px 6px #b3b3b3;
  -o-box-shadowbox-shadow: 0 3px 6px #b3b3b3;
}

.productCard .card-body {
  min-height: auto;
}

@media (min-width: 992px) {
  .productCard .card-body {
    min-height: 200px;
  }
}

.ourPromise {
  background: #FBFCFF;
}

.mobileapp {
  background-image: url("../img/mobileappbg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  min-height: 500px;
  background-size: cover;
}

@media (max-width: 768px) {
  .mobileapp {
    padding-bottom: 25px;
  }
}

.appimgand {
  width: 180px;
}

.repayloan td .icomoon {
  font-size: 30px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #64B32C;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif") no-repeat center center rgba(0, 0, 0, 0.8);
}

span.error {
  font-size: 12px;
  color: red;
  display: block;
}
/*# sourceMappingURL=style.css.map */