@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

//common styles
body{
    @include siteMain;   
}

ul, li{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}

.h1{
    font-size:clamp(1.6rem, 2.6rem, 2.6vw);    
}
.h2{
    font-size:clamp(1.4rem, 2rem, 2vw);   
}
.h4{
    font-size:clamp(1.2rem, 1.6rem, 1.6vw);    
}
.h5{
    font-size:clamp(1rem, 1.3rem, 1.3vw); 
    line-height:30px;
}
.h6{
    font-size:clamp(1rem, 1.1rem, 1.1vw);   
    line-height:25px; 
}

.fslight{
    font-weight:200;
}
.flight{
    font-weight:300;
}
.fsbold{
    font-weight:600;
}
.fbold{
    font-weight:700;
}
.fblue{
    color:$blue;
}
.fgreen{
    color:$green!important;
}
.btn{
    padding:8px 30px!important;
    border-radius:25px;
    text-align: center;
    text-transform: uppercase;
    @extend .fsbold;
    display: inline-block!important;
    font-size:$fsize -1;
    border:1px solid transparent;
    min-height:42px;
    max-height:42px;
}
.bluebtn{
    @extend .btn;
    background:$blue;
    color:$white;  
}
.whitebtn{
    @extend .btn;
    background:white;
    color:$blue;
    border:1px solid $blue;
}
.containerCustom{
    width:95%;
    margin:0 auto;
}

.imgShadow{
    padding:5px;
    @include borderRadius(50%, 50%, 50%, 50%);
    @include boxshadow(0, 3px, 2px, lighten($black, 70%));
    
}

.fixed-theme{
    background:rgba($white, 1); 
    padding:0;
   @include boxshadow(0, 3px, 2px, lighten($black, 70%));

   @include max($xl){
       padding:10px;
   }

    .bsnav{
            .navbar-brand{
                margin-right:10px;
            img{
                width:200px;
            }
        }
    }
}

.sectionTitle{
   @extend .h2;
   @extend .fbold; 
   letter-spacing: -2px;
   position:relative;  

   &:before{
       content:'';
       width:70px;
       height:4px;
       background:$blue;
       position:absolute;
       left:50%;
       bottom:-10px;
       margin-left:-35px;
   }
}


.listItems{
    li{
        position:relative;
        margin-bottom:12px;

        &:before{
            content: "\e909";
            width:18px;
            height:18px;
            background:$blue;
            color:$white;
            font-family: 'icomoon' !important;
            font-size:$fsize - 2;
            margin-right:18px;
            display:inline-block;
            text-align:center;
            line-height:18px;
        }
    }
}

//header 
header{
    background:rgba($white, 0.7);  
    padding:15px 0;
    @include transition;
    
    .bsnav{
        background:none;

        .navbar-brand{
            margin-right:25px;
            img{
                width:250px;
                @include transition;

                @include minMax($md, $lg){
                    width:200px;
                }
            }
        }
        .nav-item{
            .active{
                display:block;
                padding:20px 15px;
                text-transform: uppercase;
                color:$green;
            }
            .nav-link{
                padding:20px 10px;
                text-transform: uppercase;            
            }
        }
        .applybtn{
            @extend .btn;
            @extend .bluebtn;            
            margin-top:10px;

            &:hover{
                @extend .whitebtn;
                color:$blue!important;               
            }
            
        }
    }

    .navbar-toggler.active, .navbar-toggler:focus {
        box-shadow:none;
    }
    .bsnav-mobile{
       .nav-item{
           .active{
              @include max($lg){
                background:$blue;
                color:$white;
                display:block;
                padding:5px 0 5px 10px;
              }
           }
       } 
    }
}

.profileNav{
    margin:25px 0;
    position:relative;
    height:94%;

    .userProfilePic{
        width:150px;
        height:150px;
        background:lighten($blue, 60%);
        border-radius:50%;
        margin:0 auto;
        @include verticalcenter;

        .icomoon{
            font-size:$fsize * 5;
            color:$blue;
        }
    }
    .userNav{
        margin-top:25px;
        li{
            margin-bottom:10px;
            a{
                color:$black;
                padding:10px 15px;
                display:block;
                background:lighten($blue, 60%);
                @include transition;

                &:hover{
                    background:$blue;
                    color:$white;
                }
            }
        }
    }
    .contactHeader{
        bottom:0;
        p{
            font-size:$fsize - 1;

            .icomoon{
                color:$blue;
                font-size:$fsize + 3;
            }
        }
    }
}

.gradientbg{
    content:'';
    width:100%;
    height:100%;
    background-image:linear-gradient(to right, rgba($white, 1) , rgba($white, 0));
    position:absolute;
    top:0;
    left:0;
    z-index:9;
}

.homeSlider{
    width:100%;
    // overflow-x:hidden;
    .ms-slide{    
        &:before{
           @extend .gradientbg;
        }
        .ms-layer{                  
            padding:0;

            h6{
                color:$blue;
                @extend .fbold;
            }
        }
        .msp-cn-160-66, .msp-cn-160-3{
            @extend .h1;
            color:$black;
            @extend .fbold;
        }
        .msp-cn-160-66, .msp-cn-160-3{
            @include max($md){
                font-size:$fsize - 3!important;
                margin-top:10px;
            }
        }
        .ms-btn{          
           @extend .bluebtn;   
           height:42px;
           display:none!important;

           &:hover{
               @extend .whitebtn;
           }
        }       
    }   
    .ms-bullets.ms-dir-v{
        opacity:1!important;
        right:-15%!important;
        @include max($xxxl){
            right:0!important;
        }
    }
    .ms-layer-mask{
        @include max($md){
            overflow: visible;
        }
    }
}

.homeProcess{
    background:$lightblue;

    .instantrow{
        &:before{
            content:'';
            width:70%;
            height:4px;
            background:$blue;
            position:absolute;
            top:25%;
            left:50%;
            right:0;
            margin-left:-35%;

            @include max($lg){
                display:none;
            }
        }
    }

    .instantcol{
        .instantCircle{
            background:$white;
            width:127px;
            height:127px;
            margin:0 auto;
            @include verticalcenter;
            position:relative;
            @include boxshadow(0, 3px, 2px, lighten($black, 70%));
            border-radius:50%;

            .icomoon{
                font-size:$fsize * 4;                
            }
            .number{
                background:$blue;               
                display:inline-block;
                color:$white;
                font-size:$fsize;
                @extend .fbold;
                position:absolute;
                bottom:-10px;
                left:50%;
                margin-left:-15px;
                width:32px;
                height:32px;
                border-radius:25px;
                line-height:32px;
            }
        }
        article{            
            .h5{
                @extend .fbold;               
            }
        }
    }    
}

.whyChooseUs{
    // background:url(../img/dotsbg.png)no-repeat top right;
    @include background-image("dotsbg.png", no-repeat, top right, $transparent);

    .whyListItems{
        padding-top:50px;
        .whyListItem{
            width:100%;
            border:1px solid $blue;
            max-height:136px;   
            padding:5px;
             @include borderRadius(85px, 85px, 85px, 85px);
            margin-bottom:15px;
           
            
            .iconDiv{
                min-width:75px;
                width:75px;
                height:75px;
                background:lighten($blue, 55%);
                @include borderRadius(50%, 50%, 50%, 50%);
                @include verticalcenter;               
                .icomoon{
                    font-size:$fsize * 2 + 10;
                    color:$blue;
                }
            }
        }
    }
}

.aboutSection{
    background:$lightblue;

    .aboutHomeImg{
        position:relative;
        padding:15px;
        margin-top:15px;

        &:before{
            content:'';
            width:358px;
            height:358px;
            background:$blue;
            position:absolute;
            top:-15px;
            left:-15px;
            z-index:0;
        }
        img{
            position:relative;
        }
    }
    .sectionTitle{
        &:before{
            left:0;
            margin-left:0;
        }
    }
    .aboutBtn{
        @extend .btn;
        @extend .bluebtn;
        @include transition;

        &:hover{
            @extend .whitebtn;
        }
    }
}

footer{    
    margin-top:50px;

    .leftFooterCol{
        background:$white;
        position:relative;        
    }
    .topFooter{
        background:$blue;   
        position:relative;

        @include minMax($sm, $lg){
            padding-top:25px;
        }
        
        &:before{
            content:'';
            background:$white;
            width:20%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            bottom:0;

            @include max($lg){
                background:none;
            }
        }

        .footerBrand{            
            img{
                width:279px;
            }
        }
        .rtFootrecol{           
            color:$white;

            .h5{
                color:$white;
            }
            ul.footerLink{
                li{
                    padding-bottom:10px;
                    a.nav-link{
                        color:$white;
                        font-size:$fsize - 1;
                        cursor: pointer;
                        padding:5px 0;

                        &:hover{
                            color:lighten($blue, 50%);
                        }
                    }
                    .active{
                        color:lighten($blue, 50%);
                        padding:5px 0;
                        display:block;
                    }
                }
            }
        }
        
    }
    .bottomFooter{
        background:lighten($blue, 60%);
        padding:15px 0;       
    }
    .moveTop {
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        position: fixed;
        bottom: 25px;
        right: 25px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        @include transition;
        display: none;
        background: $blue;

        &:hover {
            border-radius: 50%;
        }
        .icomoon {
            color: $white;
        }
    }
    .footerabout{
        a{
            color:$green;
        }
    }
}
.footerSocial{            
    a{
        width:40px;
        height:40px;
        background:$blue;
        color:$white;   
        border:1px solid transparent;
        @include transition;
        line-height:42px;             

        .icomoon{
            font-size:$fsize + 5;
            color:$white;
        }

        &:hover{
            background:$white;                    
            border:1px solid $blue;

            .icomoon{
                color:$blue;
            }
        }
    }
}

.subpageMain{
    min-height:500px;

    //susbpage heade r
    .subpageHeader{
       @include background-image("subpageheaderbg.jpg", no-repeat, 0 0, $transparent); 
       min-height:285px;
       padding-top:150px;
       position:relative;

       @include max($lg){
           padding-top:85px;
           min-height:175px;
       }

        &:before{
           @extend .gradientbg;
        }

        article{
            position:relative;
            z-index: 10;
            h1{
                @extend .h1;
                @extend .fbold;
                letter-spacing: -2px;
            }
            h6{
                @extend .h6;
                color:$green;
            }
        }
    }
    //subpage body
    .subpageBody{
        min-height:500px;

        .breadcrumb{
            padding:10px 0 25px 0; 
            li{
                a{
                    color:$black;
                }
                &:before{
                    content:"\e93a";
                    font-family: 'icomoon' !important;
                    font-size:$fsize - 5;
                    position:relative;
                    top:2px;
                }
                &:first-child{
                   &:before{
                        content:'';
                   }
                }
            }
            .active{
                color:$green;
            }
        }

        p{
            font-size:$fsize;
            color:lighten($black, 10%);
        }
    }
    .leaderImg{
        @extend .imgShadow;
        width:247px;
        height:247px;
    }
    .bannercontent{
        a{
            @extend .btn;
            @extend .bluebtn;
            @include transition;

            &:hover{
                @extend .whitebtn;
            }
        }
        .container{
            background:$white;
            @include boxshadow(0, 3px, 2px, lighten($black, 70%));
            padding:50px 0;
            margin-top:-100px;
            position:relative;

            @include max($lg){
                margin-top:0;
                padding:20px;
            }
        }
    }
    .colCard{
       .iconDiv{
           background:$white;
           width:127px;
           height:127px;
           border-radius:50%;
           @include boxshadow(0, 3px, 2px, lighten($black, 70%));                       
           @include verticalcenter;

           .icomoon{
               font-size:$fsize * 4;
               color:$blue;
           }
       }
    }
    .fullContent{
        .rtContent{
            background:$lightblue;

            a{
                @extend .btn;
                @extend .bluebtn;
                @include transition;

                &:hover{
                    @extend .whitebtn;
                }
            }
        }
    }
}

.Customtabs{
    .nav{
        .nav-link{
            @extend .btn;
            @extend .whitebtn;
            @include transition;
            margin-right:10px;

            @include max($lg){
                padding:8px 10px!important;
                font-size:$fsize - 3;
                margin-bottom:5px;
            }
        }
        .nav-link.active{
            @extend .bluebtn;

            @include max($lg){
                padding:8px 10px!important;
                font-size:$fsize - 3;
            }
        }
    }  
    .nav-tabs{
        border:none;
    }
    .tab-content{
        padding:25px 0;
    } 
}

.contactForm{
    .form-floating{
        .form-control{
            background:lighten($blue, 55%);
            border:none;
            border-radius:10px;
        }
    }
    button{
        @extend .btn;
        @extend .bluebtn;
        @include transition;

        &:hover{
            @extend .whitebtn;
        }
    }
}

.applypage{
    padding-top:150px;

    @include max($lg){
        padding-top:70px;
    }

    .applyloan{
        background:lighten($blue, 60%);
        padding:50px 25px;
        min-height:150px;
        @include boxshadow(0, 3px, 2px, lighten($black, 70%));

        button{
            @extend .btn;
            @extend .bluebtn;
            @include transition;

            &:hover{
                @extend .whitebtn;
            }
        }
    }
}

.signCol{
    width:70%;
    margin:0 auto;

    button{
        @extend .btn;
        @extend .bluebtn;
        @include transition;

        &:hover{
            @extend .whitebtn;
        }
    }
    .loginwithGoo{
        color:$black;
        text-align:center;
    }
}

.profileSubPage{
     @include background-image("profiletopbg.jpg", repeat-x, top 0, $transparent);     
     padding-top:170px;

     @include max($lg){
         padding-top:80px;
     }

     .shadowBox{
         background:$white;
         border-radius:10px;
         @include boxshadow(0, 3px, 2px, lighten($black, 70%));
         min-height:700px;

         @include max($lg){
             min-height:0;
         }
     }
}

.leftNav{

    @include max($lg){
        margin-bottom:20px;
    }
    .userBase{
        article{
            p{
                word-break: break-all;
            }
        }
        .userPic{
            width:85px;
            margin-right:15px;
        }
        a{
            @extend .btn;
            @extend .bluebtn;
            @include transition;

            &:hover{
                @extend .whitebtn;
            } 
        }
    }
    .navbar-nav{
        .nav-link{
           padding:8px 25px 12px 25px;
           display:block;

           &:hover{
               color:$blue;
           }

           .icomoon{
               margin-right:15px;
               font-size:$fsize * 2;
               position:relative;
               top:5px;
           }
        }
        .active{
            background:$green;
            color:$white;
            padding:8px 25px 12px 25px;
            display:block;
            .icomoon{
               margin-right:15px;
               font-size:$fsize * 2;
               position:relative;
               top:5px;
           }
        }
    } 
}

.btnCustom{
    @extend .btn;
    @extend .bluebtn;
    @include transition;

    &:hover{
        @extend .whitebtn;
    } 
}

.opacitytext{
    color:lighten($black, 50%);
}

.dbcol{
    background:$white;
    border-radius:0 0 15px 15px;
    @include boxshadow(0, 3px, 2px, lighten($black, 70%));
    border-top:3px solid $green;
    margin-bottom:25px;

    a{
        color:$black;

        .icomoon{
            font-size:$fsize * 3;            
        }
    }
}

.loanItemCard{
    padding:25px;
    border-radius:15px;
    margin-bottom:25px;
    border:1px solid lighten($black, 70%);
}

.pillItem{
    padding:12px 0;
    .seperator{
        display:inline-block;
        padding:0 25px;
    } 
    span{
        &:nth-child(1){
            width:45%;
        }
        &:nth-child(2){
            width:5%;
        }
        &:nth-child(3){
            width:45%;
        }
    }
}

.barPayment{
    .barin{
        background:lighten($green, 40%);
        width:100%;
        height:15px;

        .barinn{
            background:$green;
            height:15px;
        }
    }
}

.downloadItem{
    background:lighten($blue, 60%);    
    padding-left:20px;
    margin-bottom:25px;

    .downIcon{
        background:$green;
        display:inline-block;
        padding:12px;

        &:hover{
            background:$blue;
        }

        .icomoon{
            font-size:$fsize * 2;
            color:$white;
        }
    }
    .titlename{
        position:relative;
        top:-5px;
    }
}

.repaySelect{
    .form-select{
        width:250px;
    }
}

.customTable{
    margin-top:25px;
    .table{
        th, td{
            padding:15px;
        }
        thead{
            th{
                background:$blue;
                color:$white;
            }
        }
    }
}

.faqcontainer{
    .listItems{
        margin-left:25px;
    }
}

.productCard{
  @include boxshadow(0, 3px, 6px, lighten($black, 70%));  

  .card-body{    
      min-height:auto;

      @include min($lg){
          min-height:200px;
      }
  }
}

.ourPromise{
    background:$lightblue;
}

.mobileapp{
   @include background-image("mobileappbg.jpg", no-repeat, 0 0, $transparent); 
   min-height:500px;
   background-size:cover;

   @include max($md){
       padding-bottom:25px;
   }
}

.appimgand{
    width:180px;
}

.repayloan{
   td{
       .icomoon{
           font-size:$fsize * 2;
       }
   } 
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #64B32C;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif") no-repeat center center rgba(0,0,0,0.8)
}

span.error{
    font-size:12px;
    color:red;
    display: block;
}